<div class="profile-container">
    <%= user.userID %> <br>
    <%= user.email %> <br>
    <%= user.username %>
    <a href="/auth/update">Edit profile</a>
    <a href="/auth/delete">Delete Profile</a>
</div>